@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-content {
  height: 180px;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e3e3e3;
    border-radius: 100vh;
    border: 3px solid #e3e3e3;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e3e3e3;
  }

  .scrollbar-x::-webkit-scrollbar {
    height: 6px; /* Tinggi scrollbar horizontal */
  }

  .scrollbar-x::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar-x::-webkit-scrollbar-thumb {
    background: #e3e3e3;
    border-radius: 100vh;
    border: 3px solid #e3e3e3;
  }

  .scrollbar-x::-webkit-scrollbar-thumb:hover {
    background: #e3e3e3;
  }
}
